body
{
    margin: 0;
    padding: 0;
    background-color: lightblue;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: repeat;
}

main
{
    width: 2000px;
    margin-left: auto;
    margin-right: auto;
    border: #444444 1px solid;
    background-color: darkcyan
}

.header
{
    display: block;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: green;
}

.title
{
    display: inline-block;
    margin: 20px;
    color: #FFFFFF;
    font-size: 50px;
    text-decoration: none;
}

.navigation-bar
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: red;
}

.container
{
    display: grid;
    grid-template-columns: 3fr minmax(300px, 1fr);
    margin-left: 20px;
    margin-right: 20px;
}

.blog-content
{
    display: flex;
    flex-direction: column;
}

.blog-post
{
    height: 500px;
    border-left: white 20px solid;
    border-bottom: #444444 1px solid;
    background-color: greenyellow;
}

.sidebar
{
    display: block;
    background-color: goldenrod;
}

.footer
{
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: gray;
}