body
{
    margin: 0;
    padding: 0;
    background-color: #A7C7E7;
}

.global-wrapper
{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.main-wrapper
{
    max-width: 1010px;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    padding: 30px;
    border: #000d4e 1px solid;
    border-radius: 25px;
    background-color: #FFFFFF
}

.header
{
    display: block;
    height: 200px;
    background-image: url(questionmarks.jpg);
    background-size: 200px;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: repeat;
    background-color: rgba(255,255,255,0.7);
    background-blend-mode: lighten;
    border-radius: 25px;
    border: #000d4e 1px solid;
}

.site-name
{
    display: inline-block;
    margin: 20px;
    color: #000000;
    font-size: 50px;
    text-decoration: none;
}

.sidebar
{
    position: sticky;
    width: 300px;
    top: 0;
    height: calc(100vh);
    overflow-y: auto;
}

.navigation
{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    border-radius: 25px;
    background-color: #222222;
}

.navigation-button
{
    box-sizing: inherit;
    width: 100%;
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    color: #FFFFFF;
    font-family: sans-serif;
    text-decoration: none;
}

.navigation-button:hover
{
    background-color: gray;
}

.blog-content
{
    margin-top: 30px;
    row-gap: 30px;
    display: flex;
    flex-direction: column;
}

.blog-post
{
    height: fit-content;
    padding: 20px;
    border: #000d4e 1px solid;
    border-radius: 25px;
    color:#000000;
    text-decoration: none;
}

.blog-post:hover
{
    box-shadow: 0 0 0 5px #003f9c;
}

.title
{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    line-height: 0;
}

.subtitle
{
    font-family: 'Teko', sans-serif;
    font-size: 20px;
}

.body-text
{
    font-family: sans-serif;
    font-size: 16px;
}

.body-text br
{
    display: block;
    margin: 5px 0;
}

.footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    column-gap: 5px;
    background-color: #222222;
    color: #FFFFFF;
}