body
{
    margin: 0;
    padding: 0;
    background-color: lightblue;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: repeat;
}

.global-wrapper
{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.main-wrapper
{
    max-width: 1010px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    border: #444444 1px solid;
    background-color: darkcyan
}

.header
{
    display: block;
    height: 200px;
    background-color: green;
}

.title
{
    display: inline-block;
    margin: 20px;
    color: #FFFFFF;
    font-size: 50px;
    text-decoration: none;
}

.sidebar
{
    position: sticky;
    width: 200px;
    top: 0;
    height: calc(100vh);
    overflow-y: auto;
}

.navigation
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #222222;
}

.navigation-button
{
    width: 100%;
    text-align: center;
    border: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    cursor: pointer;
    color: #FFFFFF
}

.navigation-button:hover
{
    background-color: gray;
}

.container
{
    display: grid;
    grid-template-columns: 3fr minmax(300px, 1fr);
}

.blog-content
{
    display: flex;
    flex-direction: column;
}

.blog-post
{
    height: 500px;
    padding: 20px;
    border-bottom: #444444 1px solid;
    background-color: greenyellow;
}

.footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    column-gap: 5px;
    background-color: #222222;
    color: #FFFFFF;
}