body
{
    margin: 0;
    padding: 0;
    background-color: #A7C7E7;
}

.global-wrapper
{
    display: flex;
    justify-content: center;
    gap: 20px;
    min-height: calc(100vh);
    height: fit-content;
}

.main-wrapper
{
    max-width: 1010px;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    padding: 30px;
    border: #000d4e 1px solid;
    border-radius: 25px;
    background-color: #FFFFFF
}

.main-wrapper p
{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.main-wrapper pre
{
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

.main-wrapper br
{
    display: block;
    margin: 5px 0;
}

.main-wrapper h1
{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    line-height: 0;
}

.main-wrapper h2
{
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    line-height: 0;
    margin-top: 30px;
}

.main-wrapper h3
{
    font-family: 'Teko', sans-serif;
    font-size: 25px;
    line-height: 0;
}

.header
{
    display: block;
    height: 160px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 25px;
    border: #000d4e 1px solid;
    text-align: center;
}

.site-name
{
    position: absolute;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-decoration: none;
}

.sidebar
{
    position: sticky;
    height: calc(100vh);
    width: 300px;
    top: 0;
    overflow-y: auto;
}

@media only screen and (max-width: 1026px) {
    .sidebar {
        display: none;
    }
}

.navigation
{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    border-radius: 25px;
    background-color: #222222;
}

.navigation-button
{
    box-sizing: inherit;
    width: 100%;
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    color: #FFFFFF;
    font-family: sans-serif;
    text-decoration: none;
}

.navigation-button:hover
{
    background-color: gray;
}

.favorite
{
    display: flex;
    box-sizing: border-box;
    justify-content: right;
    align-items: right;
    flex-direction: column;
    margin-top: 100px;
}

#favorite-button
{
    box-sizing: inherit;
    width: 100%;
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    color: #FFFFFF;
    border: 0px;
    border-radius: 25px;
    background-color: #222222;
    font-family: sans-serif; 
}

#favorite-button:hover
{
    background-color: gray;
}

.blog-content
{
    margin-top: 30px;
    row-gap: 30px;
    display: flex;
    flex-direction: column;
}

.blog-post
{
    height: fit-content;
    padding: 20px;
    border: #000d4e 1px solid;
    border-radius: 25px;
    color:#000000;
    text-decoration: none;
}

.blog-post:hover
{
    box-shadow: 0 0 0 5px #003f9c;
}

.subtitle
{
    font-family: 'Teko', sans-serif;
    font-size: 20px;
}

.line
{
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: #000000 1px solid;
}

.highlight
{
    position: relative;
    display: flow-root;
    margin: 1em 0;
    padding: 20px;
    background: #f8f8f8;
    border: #c8ccd1 1px solid;
}

.footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    column-gap: 5px;
    background-color: #222222;
    color: #FFFFFF;
}